---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.page__hero--overlay .page__lead { max-width: 600px !important;}
@media (min-width: 37.5em) { .page__hero--overlay .page__title { font-size: 2.2em !important; max-width: 500px !important; } }

.archive__item-teaser img { width: 60% !important; }
div.feature__wrapper:nth-child(2) .archive__item-teaser img { max-height: 64px !important; max-width: 120px !important; width: auto !important; }
.archive__item-teaser { text-align: center !important; }
.archive__item-body { text-align: center !important; }
div.feature__wrapper:nth-child(2) .archive__item-body { text-align: left !important; }

.page__content table {
    display: table !important;
    // text-align: center !important;
}
.page__content th {
    text-align: center !important;
}
.page__content table th:nth-child(1), .page__content table td:nth-child(1) {
    width: 20% !important;
    text-align: center !important;
}
.page__content table th:nth-child(2), .page__content table td:nth-child(2) {
    width: 30% !important;
}
.page__content table th:nth-child(3), .page__content table td:nth-child(3) {
    width: 50% !important;
}

@media (min-width: 80em) {
    body.semiwide .page {
        width: calc(100% - 200px) !important;
        padding-right: 200px !important;
    }
}

footer img.nwo {
    height: 100px;
    display: block;
    float: left;
}
footer div.footer-disclaimer {
    display: block;
    float: left;
    padding-left: 1em;
    font-size: 1.1em;
}

body, .greedy-nav {
    background-color: #f8f8f8 !important;
    font-family: Lato, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

span.header-marking {
    background: #00a8d6;
    line-height: 1.45em;
    padding: 3px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
p span.header-marking {
    padding: 2px 8px;
}

span.list-marking {
    background: #00a8d6;
    line-height: 1.45em;
    padding: 3px 10px;
    color: white;
    font-weight: bold;
}

#twitter_embed {
    display: block;
    float: right;
    width: 35%;
    max-width: 400px;
    background: #f2f3f3;
    padding: 1em;
    padding-bottom: 0em;
    margin: 1em;
}

iframe.leaderboard {
    width: calc(100% + 40px);
    margin-left: -20px;
}

table {
    width: auto !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p, .page__content li, .page__content dl {
    font-size: 0.8em;
}

h1, h2, h3 {
    font-weight: normal;
}

h1#page-title {
    font-weight: 700;
}

.feature__item h2 {
    font-size: 1em;
    font-weight: bold;
}

.feature__item, .archive__item-excerpt {
    font-size: 1em;
}

/* --- Organizers --- */

h2#organizers + .feature__wrapper .feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1em;

    @media (min-width: 37.5em) {
        &:nth-child(1) {
            float: none;
        }

        &:nth-child(n) {
            float: left;
            width: 14%;
            clear: none;
        }

        &:nth-child(n+2) {
            margin-left: 0.3% !important;
        }

    }

}

h2#invited-speakers + .feature__wrapper .feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1.2em;

    @media (min-width: 37.5em) {
        &:nth-child(1) {
            float: none;
        }

        &:nth-child(n) {
            float: left;
            width: 24.7%;
            clear: none;
        }

        &:nth-child(n+2) {
            margin-left: 0.3% !important;
        }

    }

}

h2#organizers + .feature__wrapper .archive__item-teaser img, h2#invited-speakers + .feature__wrapper .archive__item-teaser img {
    width: 80% !important;
}

h2#organizers + .feature__wrapper .archive__item-excerpt, h2#invited-speakers + .feature__wrapper .archive__item-excerpt {
    font-size: 0.8em;
}

h2#organizers + .feature__wrapper h2, h2#invited-speakers + .feature__wrapper h2 {
    font-size: 0.75em;
    font-weight: normal;
}

/* --- Navbar --- */

.masthead a.site-title {
    color: #000;
    font-weight: normal;
}

.masthead {
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    top: 0em;
    float: right;
    padding: 0em;
    background: #f8f8f8;
}

.masthead__inner-wrap {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media (min-width: 80em) {
    html { font-size: 18px; }
}
@media (min-width: 64em) {
    html { font-size: 18px; }
}
@media (min-width: 48em) {
    html { font-size: 18px; }
}

.greedy-nav .visible-links a:hover {
    color: #000;
}


.greedy-nav .visible-links a:before {
    background: none;
}
